/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	font-family: "ChollaSansRegular Nerd Font";
	font-weight: 900;
	font-size: 16px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
	
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
	/**/
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: {{ colors.dark }};
	transition: none;
}

#workspaces button {
	transition: none;
	color: {{ colors.accent2 }};
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	background: {{ colors.bright }};
	border-radius: 26px;
	color: {{ colors.accent }};
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: {{ colors.accent }};
}

#mode {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}


#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#taskbar {
	margin-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	padding-bottom: 0px;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}

#taskbar button:hover {
	border-bottom: {{ colors.accent }} solid 2px;
	padding-bottom: 2px;
}

#custom-powermgr {
	margin-top: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	padding-bottom: 0px;
	border-radius: 26px;
	transition: none;
	color: {{ colors.accent }};
	background: {{ colors.bright }};
}
