#window {
    font-family: Raleway;
    font-size: 16;
    font-weight: 700;
    background-color: #8e242e;
    color: #f75e45;
}

#entry {
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#input {
    background-color: #8e242e;
    color: #f75e45;
    border-radius: 0;
    border-style: none;
}
#input:focus {
    color: #8e242e;
    background-color: #f75e45;
    border-radius: 0;
    border-style: none;
}
#input::placeholder {
    color: #f75e45;
}

#entry:selected {
    background-color: #f75e45;
    color: #8e242e;
}

#selected label {
    color: #8e242e;
}